In [2]:
# import libraries
import itertools
import copy
import matplotlib.pyplot as plt
import networkx as nx
import pandas as pd
%matplotlib inline

In [4]:
# import csv
bitcoin_csv = "bitcoin_network.csv"

# specify column names since file has no header
column_names = ["source", "target", "ratin"]

# create dataframe
bitcoin_pd = pd.read_csv(bitcoin_csv, header = None, names = column_names)

# preview dataframe
bitcoin_pd.head()

    6   2  4  1289241911.72836
0   6   5  2      1.289242e+09
1   1  15  1      1.289243e+09
2   4   3  7      1.289245e+09
3  13  16  8      1.289254e+09
4  13  10  8      1.289254e+09